
#wb_header { height: 200px; }
#wb_header > .wb_cont_bg { background: #000000 none repeat left top; background-size: auto auto; }
#wb_main { height: 850px; padding-bottom: 100px; }
#wb_main > .wb_cont_bg { background: #000000 none repeat left top; background-size: auto auto; }
#wb_footer { height: 100px; }
#wb_footer > .wb_cont_bg { background: #000000 none repeat left top; background-size: auto auto; }
body { background: #000000 none repeat fixed center center; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 320px; min-height: 1150px; }
.wb_cont_inner { width: 320px; height: 100%; }
.wb_cont_bg { width: 320px; margin-left: -160px; }
.root { height: 1370px; overflow: hidden; min-height: 1150px; }
#wb_element_instance7 .btn-collapser { display: inline-block; margin-top: 0px; background-color: #bcbcbc; border-color: #ffffff; }
#wb_element_instance7 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance7 .btn-collapser:hover { background-color: #bcbcbc; border-color: #a6a1a1; }
#wb_element_instance7 .btn-collapser:hover > .icon-bar { background-color: #a6a1a1; }
#wb_element_instance7 { top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 29px; height: 29px; display: block; z-index: 71; }
#wb_element_instance7 ul { background: #bcbcbc none repeat left top; border: 0px none #000000; }
#wb_element_instance7 > ul { display: none; }
#wb_element_instance7.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance7.collapse-expanded > ul > li { display: block; }
#wb_element_instance7.collapse-expanded li > ul { position: static; }
#wb_element_instance7.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance7.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance7, #wb_element_instance7 ul { text-align: left; }
#wb_element_instance7 ul ul { background: #2e2e2e none repeat left top; }
#wb_element_instance7 li { margin: 10px 10px 10px 10px; }
#wb_element_instance7 li a { text-transform: uppercase; border: 0px none #ff0000; padding: 2px 2px 2px 2px; font: normal normal 25px 'Roboto Condensed',sans-serif; text-decoration: none; color: #ffffff; line-height: 27px; letter-spacing: 2px; background: transparent none repeat left top; }
#wb_element_instance7 li.over > a, #wb_element_instance7 li:focus > a { border: 0px none #000000; font: normal normal 25px 'Roboto Condensed',sans-serif; text-decoration: none; color: #a6a1a1; line-height: 27px; letter-spacing: 2px; background: transparent none repeat left top; }
#wb_element_instance7 li.active > a { border: 0px none #000000; font: normal normal 25px 'Roboto Condensed',sans-serif; text-decoration: none; color: #465577; line-height: 27px; letter-spacing: 2px; background: transparent none repeat left top; }
#wb_element_instance7:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance7:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance7:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_element_instance8 { top: 100px; left: 220px; min-width: 200px; width: 200px; min-height: 101px; height: 101px; display: block; z-index: 37; }
#wb_element_instance9 { top: 60px; left: 0px; min-width: 190px; width: 190px; min-height: 180px; height: 180px; display: block; z-index: 60; }
#wb_element_instance9 img { width: 190px; height: 180px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance10 { top: 0px; left: 0px; min-width: 820px; width: 820px; min-height: 650px; height: 650px; display: block; z-index: 15; }
#wb_element_instance11 { top: 670px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance12 { top: 20px; left: 0px; display: block; z-index: 9999; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	#wb_header { height: 255px; }
	#wb_main { height: 850px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1205px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 1105px; overflow: visible; min-height: 1205px; }
	#wb_element_instance7 { top: 0px; left: 0px; min-width: 1180px; width: 1180px; min-height: 51px; height: 51px; display: block; }
	#wb_element_instance7 ul { background: transparent none repeat left top; }
	#wb_element_instance7 .btn-collapser { display: none; }
	#wb_element_instance7 > ul { display: block; }
	#wb_element_instance8 { top: 100px; left: 200px; min-width: 200px; width: 200px; min-height: 101px; height: 101px; display: block; }
	#wb_element_instance9 { top: 60px; left: 0px; min-width: 190px; width: 190px; min-height: 180px; height: 180px; display: block; }
	#wb_element_instance9 img { width: 190px; height: 180px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance10 { top: 0px; left: 190px; min-width: 820px; width: 820px; min-height: 650px; height: 650px; display: block; }
	#wb_element_instance11 { top: 670px; left: 0px; display: block; }
	#wb_element_instance12 { top: 20px; left: 0px; display: block; }
}
