
#wb_header { height: 255px; }
#wb_header > .wb_cont_bg { background: #000000 none repeat left top; background-size: auto auto; }
#wb_main { height: 250px; padding-bottom: 100px; }
#wb_main > .wb_cont_bg { background: #000000 none repeat left top; background-size: auto auto; }
#wb_footer { height: 100px; }
#wb_footer > .wb_cont_bg { background: #000000 none repeat left top; background-size: auto auto; }
body { background: #000000 none repeat scroll center center; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 320px; min-height: 605px; }
.wb_cont_inner { width: 320px; height: 100%; }
.wb_cont_bg { width: 320px; margin-left: -160px; }
.root { height: 1370px; overflow: hidden; min-height: 605px; }
#wb_element_instance22 .btn-collapser { display: inline-block; margin-top: 0px; background-color: #bcbcbc; border-color: #ffffff; }
#wb_element_instance22 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance22 .btn-collapser:hover { background-color: #bcbcbc; border-color: #a6a1a1; }
#wb_element_instance22 .btn-collapser:hover > .icon-bar { background-color: #a6a1a1; }
#wb_element_instance22 { top: 0px; left: 0px; min-width: 320px; width: 320px; min-height: 29px; height: 29px; display: block; z-index: 71; }
#wb_element_instance22 ul { background: #bcbcbc none repeat left top; border: 0px none #000000; }
#wb_element_instance22 > ul { display: none; }
#wb_element_instance22.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance22.collapse-expanded > ul > li { display: block; }
#wb_element_instance22.collapse-expanded li > ul { position: static; }
#wb_element_instance22.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance22.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance22, #wb_element_instance22 ul { text-align: left; }
#wb_element_instance22 ul ul { background: #2e2e2e none repeat left top; }
#wb_element_instance22 li { margin: 10px 10px 10px 10px; }
#wb_element_instance22 li a { text-transform: uppercase; border: 0px none #ff0000; padding: 2px 2px 2px 2px; font: normal normal 25px 'Roboto Condensed',sans-serif; text-decoration: none; color: #ffffff; line-height: 27px; letter-spacing: 2px; background: transparent none repeat left top; }
#wb_element_instance22 li.over > a, #wb_element_instance22 li:focus > a { border: 0px none #000000; font: normal normal 25px 'Roboto Condensed',sans-serif; text-decoration: none; color: #a6a1a1; line-height: 27px; letter-spacing: 2px; background: transparent none repeat left top; }
#wb_element_instance22 li.active > a { border: 0px none #000000; font: normal normal 25px 'Roboto Condensed',sans-serif; text-decoration: none; color: #465577; line-height: 27px; letter-spacing: 2px; background: transparent none repeat left top; }
#wb_element_instance22:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance22:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance22:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance23 p:last-child { margin-bottom: 0; }
#wb_element_instance23 { top: 100px; left: 220px; min-width: 200px; width: 200px; min-height: 101px; height: 101px; display: block; z-index: 35; }
#wb_element_instance24 { top: 150px; left: 95px; min-width: 190px; width: 190px; min-height: 180px; height: 180px; display: block; z-index: 62; }
#wb_element_instance24 img { width: 190px; height: 180px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance25 p:last-child { margin-bottom: 0; }
#wb_element_instance25 { top: 0px; left: 0px; min-width: 790px; width: 790px; min-height: 545px; height: 545px; display: block; z-index: 9; }
#wb_element_instance26 { height: 440px; position: relative !important; top: 520px; left: 0px; min-width: 1200px; width: 1200px; min-height: 440px; display: block; z-index: 10; }
#wb_element_instance27 { top: 980px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance28 { top: 20px; left: 0px; display: block; z-index: 9999; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	#wb_header { height: 255px; }
	#wb_main { height: 1160px; }
	#wb_footer { height: 38px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1453px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 1353px; overflow: visible; min-height: 1453px; }
	#wb_element_instance22 { top: 0px; left: 0px; min-width: 1180px; width: 1180px; min-height: 51px; height: 51px; display: block; }
	#wb_element_instance22 ul { background: transparent none repeat left top; }
	#wb_element_instance22 .btn-collapser { display: none; }
	#wb_element_instance22 > ul { display: block; }
	#wb_element_instance23 { top: 100px; left: 220px; min-width: 530px; width: 530px; min-height: 101px; height: 101px; display: block; }
	#wb_element_instance24 { top: 60px; left: 20px; min-width: 190px; width: 190px; min-height: 180px; height: 180px; display: block; }
	#wb_element_instance24 img { width: 190px; height: 180px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance25 { top: 0px; left: 0px; min-width: 1200px; width: 1200px; min-height: 520px; height: 520px; display: block; }
	#wb_element_instance26 { top: 520px; left: 0px; min-width: 1200px; width: 1200px; min-height: 440px; height: 440px; display: block; }
	#wb_element_instance27 { top: 980px; left: 0px; display: block; }
	#wb_element_instance28 { top: 20px; left: 0px; display: block; }
}
